<!-- <div class="ui four column grid" style="margin-top: 1em;
margin-left: 10em;">
    <div>
    <div class="column" *ngFor="let meal of mealData">
      <div class="ui card">
        <div class="image">
          <img [src]="meal.strMealThumb">
        </div>
        <div class="content">
          <span class="header" style="margin: 1em 0 1em 0;">{{ meal.strMeal }}</span>
          <div class="meta">
              <span class="header" style="margin: 1em 0 1em 0;">{{ meal.strCategory }}</span>
              <div class="description" style="text-align: justify;">
                <b>Ingredients:</b> {{ meal.strIngredient1}}         
            </div>
          <div class="description" style="text-align: justify;">
            <b>Instructions:</b> {{ meal.strInstructions}}         
        </div>
        </div>
        <a [href]="meal.strYoutube" target="_blank" class="extra content">
          <button class="ui right floated tiny red right labeled icon button">
            <i class="external alternate icon"></i>
            Watch
          </button>
        </a>
      </div>
    </div>
  </div>
</div> -->

<!-- <br/><br/> -->


<!-- <div *ngFor="let meal of mealData"  id="meal_title">
  <div class="container" > 
    <div class="row no-gutters" id="image_ingredients">
      <div class="col-md-4"  id="meal_image">
        <img [src]='meal.strMealThumb' width="300px" height="300px" />
   
      </div>
      <div class="col-md-8" id="img_text">
        <div class="card-body">
          <h5 class="card-title"> {{meal.strMeal}}</h5>
           <h6> <b>Category: </b>{{meal.strCategory}}</h6>
        </div>
      </div>
    </div>
  </div>
  
    <div class="container">
      <div class="card-group">
        <div class="card">
         
          <div class="card-body" class="row" id="meal_box">
            <div class="col-4" id="meal_ingredients" >
              <h5 class="card-title">Ingridents: </h5>
              <ul>
                <li><span>{{ meal.strIngredient1}}</span>{{ meal.strMeasure1}} </li>
                <li><span>{{meal.strIngredient2 }}</span>{{meal.strMeasure2}}</li>
                <li><span>{{meal.strIngredient3 }}</span> {{meal.strMeasure3}}</li>
                <li><span>{{meal.strIngredient4 }}</span> {{meal.strMeasure4}}</li>
                <li><span>{{meal.strIngredient5 }}</span> {{meal.strMeasure5}}</li>
                <li><span>{{meal.strIngredient6 }}</span> {{meal.strMeasure6}}</li>
                <li><span>{{meal.strIngredient7 }}</span> {{meal.strMeasure7}}</li>
                <li><span>{{meal.strIngredient8 }}</span> {{meal.strMeasure8}}</li>
                <li><span>{{meal.strIngredient9 }}</span> {{meal.strMeasure9}}</li>
                <li><span>{{meal.strIngredient10 }}</span> {{meal.strMeasure10}}</li>
                <li><span>{{meal.strIngredient11 }}</span> {{meal.strMeasure11}}</li>
              </ul>
            </div>

            <div class="col-6" id="meal_instructions">
              <h5 class="card-title">Instructions:</h5>
              <p>{{meal.strInstructions}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="container">
    <div class="card" *ngFor="let meal of mealData; let i = index;">
      <div class="card-header">
        {{ meal.strMeal }}
      </div>
      <div class="card-body">
      <div class="row">
        <div class="col">
      <div>
          <p class="card-text"><b>Ingredients:</b> {{ meal.strIngredient}}{{i+1}}</p>
          <p class="card-text"><b>Measure:</b> {{ meal.strMeasure}}{{i+1}}</p>
          <p class="card-text">{{ meal.strCategory}} </p>
          <a [href]="meal.strYoutube" class="btn btn-danger" target="_blank">Watch Video</a>
        </div>
      </div>
    
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="meal.strMealThumb" alt="Meal image">
        </div>
        </div>
      </div>
    
    
        <h6 class="card-title">{{ meal.strMeal }}</h6>
        <p class="card-text"><b>Description:</b> {{ meal.strInstructions}}</p>
        <!-- <a [href]="meal.videoUrl" class="btn btn-danger" target="_blank">Go Watch</a> -->
      </div>
    </div>
    </div>

