
<!-- <div class="ui four column grid">
    <div class="ten wide column centered">
      <div class="ui fluid action input">
        <input #input type="text" style="border-right: 0.6px solid #6c757d;
        border-radius: 5px;" placeholder="Search for a Meal...">
      </div>
    </div>
  </div> -->


  <nav class="navbar justify-content-center">
    <form class="form-inline">
      <input #input class="form-control mr-sm-2" type="search" placeholder="Search for a Meal..." aria-label="Search" style="width: 300px;">
      
    </form>
  </nav>