    <app-search-input (search)="handleSearch($event)"></app-search-input>

    <div *ngIf="inputTouched == false && error == true">
      <div class="alert alert-info info">
        <p><strong>Sorry!</strong> No info found</p>
      </div>
    </div>


    <div *ngIf="loading">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <app-search-list *ngIf="!loading && error" [searchMeal]="searchMeal"></app-search-list>
